@media screen and (min-width: 550px) {
  .hero__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .address-container {
    display: flex;
    justify-content: space-between;
  }

  .address-content {
    width: 70%;
    border-left: 1px solid var(--grey-text);
    padding-left: 10px;
  }
}

@media screen and (min-width: 769px) {
  .container {
    margin: 0 auto;
    max-width: 720px;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__subtitle {
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 20px;
  }

  .hero {
    padding-bottom: 200px;
  }

  /* About section */
  .progress-bars-block {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .progress-bar-block {
    flex-basis: 30%;
  }

  /* TEAM SECTION */
  .member-cards {
    display: flex;
    justify-content: space-between;
  }

  .member-card {
    flex-direction: column;
  }

  .member-img-container {
    text-align: center;
  }

  /* CONTACT US */
  .contact-us-content {
    display: flex;
    justify-content: space-between;
  }

  .addresses-block {
    display: flex;
  }

  .address-container {
    width: 50%;
  }

  /* form */

  .form-container {
    gap: 10px;
    grid-template-areas:
      "input-name input-email input-subject"
      "textarea textarea textarea"
      ". . button";
  }

  .input-name {
    grid-area: input-name;
  }

  .input-email {
    grid-area: input-email;
  }

  .input-subject {
    grid-area: input-subject;
  }

  .textarea {
    grid-area: textarea;
  }

  .button {
    grid-area: button;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
  .hero__title {
    font-size: 5rem;
  }

  .hero__buttons {
    flex-direction: row;
    justify-content: center;
  }

  .main-nav-toggle {
    display: none;
  }

  .main-nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }

  .main-nav__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .main-nav__link:hover {
    color: var(--yellow);
  }

  .addresses-block {
    width: 70%;
  }

  .form-container {
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .main-nav {
    width: 60%;
  }
}
