.team-bg {
  background-image: url(../../images/pattern.webp);
}

.member-cards {
  padding: 20px 0;
}

.member-card {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}

.card__img {
  border-radius: 50%;
}

.member-content-container {
  margin-left: 20px;
}

.member__name {
  font-size: 1.2rem;
  color: var(--dark);
  margin: 15px 0;
}

.member__contact__icons {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
}

.border--tomato {
  border: 1px solid var(--tomato);
}

.border--yellow {
  border: 1px solid var(--yellow);
}

.border--violet {
  border: 1px solid var(--violet);
}
